<div class="text-cart">Cart</div>
<div class="total-item">{{ sum }} items in bags</div>
<div class="hr-fix"></div>
<div class="content">
  <div *ngFor="let item of cartphoneService.cartphone">
    <div class="flex items-center">
      <div class="image">
        <img src="{{ item.image }}" alt="" class="w-full h-full" />
      </div>

      <div class="detail flex flex-col">
        <h1 class="detail__name">{{ item.name }}</h1>
        <p class="detail__desc">
          {{ item.description }}
        </p>
        <p class="detail__price">
          <span class="mr-2">{{
            item.price.toString().slice(-9, item.price.toString().length - 6)
          }}</span>
          <span class="mr-2">{{
            item.price.toString().slice(-6, item.price.toString().length - 3)
          }}</span>
          <span class="mr-2">{{
            item.price.toString().slice(-3, item.price.toString().length)
          }}</span>
          VND
        </p>
      </div>
      <div class="button">
        <button class="button__plus" (click)="onClicks(item.id, 1)">+</button>
        <span class="number"> {{ item?.quantity }}</span>
        <button class="button__sub" (click)="onClicks(item.id, -1)">-</button>
      </div>
    </div>
    <div class="content__line"></div>
  </div>
  <div></div>

  <div class="flex justify-end" *ngIf="sum > 0">
    <div class="flex flex-col items-end justify-end">
      <p class="sub-total">SubToTal</p>
      <p class="tax">Tax</p>
      <p class="total">Total</p>
    </div>
    <div class="payment">
      <p class="price-sub-total">
        {{
          payment
            .toLocaleString("vi-VN", {
              style: "currency",
              currency: "VND",
              minimumFractionDigits: 0,
              maximumFractionDigits: 0,
              useGrouping: true
            })
            .replace(".", " ")
        }}
      </p>
      <p class="price-tax">
        {{
          (payment * 0.1)
            .toLocaleString("vi-VN", {
              style: "currency",
              currency: "VND",
              minimumFractionDigits: 0,
              maximumFractionDigits: 0,
              useGrouping: true
            })
            .replace(".", " ")
        }}
      </p>

      <p class="price-total">
        {{
          (payment * 1.1)
            .toLocaleString("vi-VN", {
              style: "currency",
              currency: "VND",
              minimumFractionDigits: 0,
              maximumFractionDigits: 0,
              useGrouping: true
            })
            .replace(".", " ")
        }}
      </p>
    </div>
  </div>
</div>
