body {
  overflow-x: hidden;
}

.hr-fix {
  position: absolute;
  width: 1660px;
  height: 0px;
  left: -1px;
  top: 122px;

  border: 1px solid #adadad;
  transform: rotate(0.12deg);
}
.text-shop {
  position: absolute;
  width: 405px;
  height: 60px;
  left: 21px;
  top: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}

.head__text {
  position: absolute;
  width: 191px;
  height: 58px;
  left: 29px;
  top: 63px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}
.head__search {
  box-sizing: border-box;
  position: absolute;
  width: 469px;
  height: 61px;
  left: 888px;
  top: 65px;
  background: #ffffff;
  border: 1px solid #000000;
  padding-left: 24px;
  padding-right: 93px;
  padding-bottom: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
  z-index: 5;
}
.head__product {
  position: absolute;
  width: 256px;
  height: 58px;
  left: 95px;
  top: 72px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 16px;
  /* or 57% */

  display: flex;
  align-items: center;

  color: #000000;
}
.head__search__icon {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 1304px;
  top: 69px;
}
.head__filter__icon {
  position: absolute;
  width: 58px;
  height: 56.23px;
  left: 1376px;
  top: 65px;
}
.phones {
  margin-top: 155px;
  margin-left: 24px;
}

.phones .img-phone {
  width: 127px;
  height: 173px;
}
.phones .phone-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.phones .price-vnd {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  color: #000000;
}
.phones .star {
  color: #ffdd55;
}

.filter {
  box-sizing: border-box;

  position: absolute;
  width: 617px;
  height: 89px;
  right: -573px;
  top: 126px;

  background: #ffffff;
  border: 1px solid #000000;
}
.filter .filter__header {
  position: absolute;
  width: 200px;
  height: 89px;
  left: 260px;
  top: 0px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 16px;
  /* or 44% */
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.filter .filter__price {
  position: absolute;
  width: 308px;
  height: 53px;
  left: 130px;
  top: 109px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 16px;
  /* or 44% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.filter__from {
  position: absolute;
  width: 154px;
  height: 61px;
  left: 30px;
  top: 159px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.filter__from-price {
  position: absolute;
  width: 200px;
  height: 61px;
  left: 338px;
  top: 162px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 16px;
  /* or 44% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.filter__from-icon {
  position: absolute;
  left: 538px;
  top: 158px;
}
.filter__to {
  position: absolute;
  width: 154px;
  height: 61px;
  left: 23px;
  top: 223px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 16px;
  /* or 44% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.filter__to-price {
  position: absolute;
  width: 300px;
  height: 61px;
  left: 258px;
  top: 226px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 16px;
  /* or 44% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.filter__to-icon {
  position: absolute;
  left: 538px;
  top: 226px;
}
.filter__rate {
  position: absolute;
  width: 308px;
  height: 53px;
  left: 76px;
  top: 326px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 16px;
  /* or 44% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.filter__rate-from {
  position: absolute;
  width: 154px;
  height: 61px;
  left: 30px;
  top: 376px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 16px;
  /* or 44% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.filter__rate-from-star {
  position: absolute;
  width: 200px;
  height: 61px;
  left: 379px;
  top: 379px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.filter__rate-from-icon {
  position: absolute;
  left: 538px;
  top: 379px;
}
.filter__rate-to {
  position: absolute;
  width: 154px;
  height: 61px;
  left: 23px;
  top: 440px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.filter__rate-to-star {
  position: absolute;
  width: 200px;
  height: 61px;
  left: 379px;
  top: 443px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.filter__rate-to-icon {
  position: absolute;
  left: 538px;
  top: 443px;
}
