<div class="backgroundlogin relative">
  <div class="container mx-auto pt-24">
    <div class="flex justify-center">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEt1p1OKnAYP6899nVmSOyOxEdLUbZwkCzMzOuV2ZxJA&s"
        alt=""
        class="imagelogo rounded-full"
      />
    </div>

    <form [formGroup]="loginForm" class="" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <input
          type="email"
          formControlName="email"
          class="inputname"
          placeholder="Email đăng nhập"
        />
        <div
          *ngIf="
            loginForm.get('email').invalid && loginForm.get('email').touched
          "
          class="text-red-700 text-sm mt-1 texterror"
        >
          Please enter a valid email address.
        </div>
        <div class="iconuser rounded-full flex justify-center">
          <i class="material-icons">person</i>
        </div>
      </div>
      <div class="mb-6">
        <div class="">
          <input
            type="{{ passwordHidden ? 'password' : 'text' }}"
            formControlName="password"
            class="inputpassword"
            placeholder="Mật khẩu"
          />
          <div class="iconlockers">
            <i class="material-icons">lock_outline</i>
          </div>
          <span
            (click)="togglePasswordVisibility()"
            class="mt-3 mr-4 cursor-pointer iconpasswordtoggle"
          >
            <div>
              <i class="material-icons" *ngIf="passwordHidden"
                >remove_red_eye
              </i>
            </div>
            <div>
              <i class="material-icons" *ngIf="!passwordHidden"
                >visibility_off</i
              >
            </div>
          </span>
        </div>
        <div
          *ngIf="
            loginForm.get('password').invalid &&
            loginForm.get('password').touched
          "
          class="text-red-700 text-sm mt-1 passworderror"
        >
          Please enter a password with at least 6 characters.
        </div>
      </div>

      <div class="blocksave flex">
        <div class="flex items-center mb-4">
          <input
            type="checkbox"
            class="h-4 w-4 text-blue-500 focus:ring-blue-400 border-gray-300 rounded"
          />
          <label for="remember-me" class="ml-2 block text-white">
            Lưu đăng nhập
          </label>
        </div>

        <div class="text-white ml-72">Bạn quên mật khẩu?</div>
      </div>
      <div class="textlogin">
        <button
          [disabled]="!loginForm.valid"
          type="submit"
          class="buttondangnhap"
          [ngStyle]="{ opacity: loginForm.valid ? 1 : 0.5 }"
        >
          Đăng nhập
        </button>
      </div>
    </form>
    <div class="textbottom">
      <p class="text-center text-white">
        Nếu bạn có thắc mắc hay cần giải đáp,vui lòng liên hệ số điện thoại:
        19001000 <br />
        Bản quyền thuộc về AnyBim
      </p>
    </div>
  </div>
</div>
