<body>
  <div class="max-w-md mx-auto">
    <div class="flex justify-center">
      <div
        class="w-25 h-25 w- rounded-full bg-white flex justify-center items-center mt-22"
      >
        <img
          src="https://s3-alpha-sig.figma.com/img/b6e8/93c4/d34c78218f2e618bae4d316ce9b46881?Expires=1681084800&Signature=Yv2c95Bg-CvCb49J4aWJIcbWJZq1px819CvRwzL6RyiqtyuPmEeiFAuzgQFs1Y~jipWWKZnIiK-AKZZ8kS9TAZTo7ZtIhzMoyHykw5V8wk0Yal1fZ229Uf852j7-2MucJfXEpB~hpOmBrjtdPT1HlENkM2rX0T9qPDksf8WSMWeKJkbI4x3SjEeyXiagWKMSbpC01~Rv9YcW19~Xt26IzPSvaugolwWGXA2rtMexwSR~k227LrpZoUqlWD-ydzU6Zd0yk~CzWo1w0VHaBU8UQYsiEew9HZqWHh3sRjFjrBXTeD1-GzRRSBFsWCFr-m6-kN~b1BJUYPh-mLkg1jSoTA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          alt=""
          class="w-18 h-18"
        />
      </div>
    </div>
    <form class="mt-13" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="relative mb-15">
        <input
          class="appearance-none border rounded-md w-full text-base leading-tight focus:outline-none focus:shadow-outline text-custom-bg login-input font-normal bg-white"
          id="username"
          type="text"
          placeholder="Tên đăng nhập"
          formControlName="email"
        />
        <div
          class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
        >
          <div class="icon rounded-full flex items-center bg-blue-500">
            <i class="material-icons text-white border">person</i>
          </div>
        </div>
      </div>
      <div class="relative mb-18">
        <input
          class="appearance-none border rounded-md w-full leading-tight focus:outline-none focus:shadow-outline text-custom-bg login-input font-normal bg-white"
          id="password"
          type="{{ passwordHidden ? 'password' : 'text' }}"
          placeholder="Mật khẩu"
          formControlName="password"
        />
        <div
          class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
        >
          <div class="rounded-full flex items-center bg-blue-500 icon">
            <i class="material-icons text-white">lock_outline</i>
          </div>
        </div>
        <div
          class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer"
          (click)="togglePasswordVisibility()"
        >
          <i class="material-icons text-custom-icon" *ngIf="passwordHidden"
            >remove_red_eye</i
          >
          <i class="material-icons text-custom-icon" *ngIf="!passwordHidden"
            >visibility_off</i
          >
        </div>
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center mb-23">
          <input
            type="checkbox"
            class="h-4 w-4 text-blue-500 focus:ring-blue-400 border-gray-300 rounded"
          />
          <label for="remember-me" class="ml-2 block text-white text-sm">
            Lưu đăng nhập
          </label>
        </div>

        <a class="text-white text-sm" href="#"> Bạn quên mật khẩu? </a>
      </div>
      <div class="flex justify-center mb-25">
        <button
          class="login-button sm:text-sm text-xs md:text-base text-white font-normal font-sans md:border-2 border sm:pt-4.125 sm:pb-2.875 sm:pl-42.25 sm:pr-42.75 pr-32 pl-32 pt-4 pb-2.5"
          type="submit"
          [disabled]="!loginForm.valid"
          [ngStyle]="{ opacity: loginForm.valid ? 1 : 0.5 }"
        >
          Đăng nhập
        </button>
      </div>
      <div
        class="text-xs font-thin text-white w-11/12 mx-auto text-center mb-1"
      >
        Nếu bạn có thắc mắc hay cần giải đáp, vui lòng liên hệ số điện thoại:
        19001000
      </div>
      <div class="text-xs font-thin text-white w-11/12 mx-auto text-center">
        Bản quyền thuộc về AnyBim
      </div>
    </form>
  </div>
</body>
