<app-header> </app-header>

<div class="flex w-full">
  <div class="tab xl:w-60.75 lg:w-56 md:w-52 sm:w-48 w-44 border border-black">
    <div
      class="flex items-center justify-between h-15 border-b border-l border-black"
    >
      <div class="text-black font-sans xl:text-2xl ml-4.25 md:text-xl text-sm">
        Menu
      </div>
      <div class="flex flex-col justify-between items-center mr-7.5">
        <div
          class="xl:w-6 lg:w-5 md:w-4 sm:w-3 w-2 border border-solid border-black"
        ></div>
        <div
          class="xl:w-6 lg:w-5 md:w-4 sm:w-3 w-2 border border-solid border-black xl:my-2 md:my-1.5 sm:my-1 my-0.5"
        ></div>
        <div
          class="xl:w-6 lg:w-5 md:w-4 sm:w-3 w-2 border border-solid border-black"
        ></div>
      </div>
    </div>
    <div
      (click)="selectTab(1)"
      class="flex items-center h-15.5"
      [ngClass]="{
        'text-active-50 border-b border-t border-active-50':
          currentTab === 1 || currentTab === 4
      }"
    >
      <div>
        <i
          class="material-icons md:text-3xl xl:text-5xl lg:text-4xl sm:text-2xl text-xl ml-4.25"
          >store</i
        >
      </div>
      <div class="font-sans xl:text-2xl md:text-xl text-sm ml-3.25">Shop</div>
    </div>
    <div
      (click)="selectTab(2)"
      class="flex items-center h-15.5"
      [ngClass]="{
        'text-active-50 border-b border-t border-active-50': currentTab === 2
      }"
    >
      <div>
        <i
          class="material-icons md:text-3xl xl:text-5xl lg:text-4xl sm:text-2xl text-xl ml-4.25"
          >local_grocery_store</i
        >
      </div>
      <div class="font-sans xl:text-2xl md:text-xl text-sm ml-3.25">Cart</div>
    </div>
    <div
      class="flex items-center h-15.5"
      (click)="selectTab(3)"
      [ngClass]="{
        'text-active-50 border-b border-t border-active-50': currentTab === 3
      }"
    >
      <div>
        <i
          class="material-icons md:text-3xl xl:text-5xl lg:text-4xl sm:text-2xl text-xl ml-4.25"
          >person</i
        >
      </div>
      <div class="font-sans xl:text-2xl md:text-xl text-sm ml-3.25">
        My Profile
      </div>
    </div>
  </div>
  <div class="w-full">
    <ng-container *ngIf="currentTab === 1">
      <app-phones></app-phones>
    </ng-container>
    <ng-container *ngIf="currentTab === 2">
      <app-cart></app-cart>
    </ng-container>
    <ng-container *ngIf="currentTab === 3">
      <app-myprofile></app-myprofile>
    </ng-container>
    <ng-container *ngIf="currentTab === 4">
      <app-phonedetail></app-phonedetail>
    </ng-container>
  </div>
</div>
