.content {
  position: absolute;
  top: 119px;
  left: 0px;
}
.content .menu {
  box-sizing: border-box;
  position: absolute;
  width: 243px;
  height: 60px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #000000;
}
.active {
  color: #0feaf8;
}
.content .menu .menu__text {
  position: absolute;
  width: 164px;
  height: 27px;
  left: 17px;
  top: 15px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}

.content .menu .menu__icon--line1 {
  position: absolute;
  width: 23px;
  height: 0px;
  left: 195px;
  top: 18px;
  border: 1px solid #000000;
}
.content .menu .menu__icon--line2 {
  position: absolute;
  width: 23px;
  height: 0px;
  left: 195px;
  top: 30px;
  border: 1px solid #000000;
}
.content .menu .menu__icon--line3 {
  position: absolute;
  width: 23px;
  height: 0px;
  left: 195px;
  top: 42px;
  border: 1px solid #000000;
}

.content .shop__icon {
  position: absolute;
  width: 44px;
  height: 42.62px;
  left: 17px;
  top: 69.69px;
}

.content .shop__text {
  position: absolute;
  width: 169px;
  height: 62px;
  left: 71px;
  top: 78.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
}
.content .cart__icon {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 17px;
  top: 132px;
}
.content .cart__text {
  position: absolute;
  width: 169px;
  height: 62px;
  left: 74px;
  top: 122px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #000000;
}
.content .profile__icon {
  position: absolute;
  width: 46px;
  height: 46px;
  left: 15px;
  top: 193px;
}
.content .profile__text {
  position: absolute;
  width: 169px;
  height: 63px;
  left: 70px;
  top: 187px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
}
.content .vertical-line {
  position: absolute;
  top: 0;
  left: 232px;
  border: none;
  border-left: 1px solid black;
  height: 850px;
  margin: 0 10px;
}

.main {
  position: absolute;
  top: 115px;
  left: 243px;
}
@media only screen and (max-width: 600px) {
  .content .menu .menu__text {
    font-size: 16px;
  }
}
