<div class="flex">
  <div class="w-1/6 border-r border-gray-200 textmenu">
    <!-- Left column - list of tabs -->
    <ul>
      <div class="flex items-center justify-between w-11/12 mx-auto">
        Menu <i class="material-icons">menu</i>
      </div>
      <a routerLink="/shop"
        ><li
          (click)="selectTab(1)"
          [ngClass]="{
            'border-l border-t border-r textactive bg-red-600 ':
              currentTab === 1
          }"
          class="px-3 py-2 hover:bg-blue-50 cursor-pointer"
        >
          <span class="material-symbols-outlined"> </span>
          <div class="flex items-center">
            <i class="material-icons">store</i>Shop
          </div>
        </li></a
      >
      <a routerLink="/cart">
        <li
          (click)="selectTab(2)"
          [ngClass]="{
            'border-b border-l border-r textactive bg-red-600':
              currentTab === 2,
            'px-3 py-2 hover:bg-blue-50 cursor-pointer': true
          }"
        >
          <div class="flex items-center">
            <i class="material-icons">local_grocery_store</i>Cart
          </div>
        </li>
      </a>
      <a routerLink="/profile"
        ><li
          (click)="selectTab(3)"
          [ngClass]="{
            'border-b border-l border-r textactive bg-red-600':
              currentTab === 3,
            'px-3 py-2 hover:bg-blue-50 cursor-pointer': true
          }"
        >
          <div class="flex items-center">
            <i class="material-icons">person</i>My Profile
          </div>
        </li></a
      >
    </ul>
  </div>
  <div class="flex-1 px-4 py-2 relative">
    <router-outlet></router-outlet>
  </div>
</div>
