<div class="text-cart">Cart</div>
<div class="total-item">{{ sum }} items in bags</div>
<hr class="hr-fix" />
<div class="mt-32">
  <div *ngFor="let item of cartphoneService.cartphone">
    <div class="">
      <div class="image-phone">
        <img src="{{ item.image }}" alt="" class="h-full w-full" />
      </div>
      <div class="content">
        <h1 class="content__name">{{ item.name }}</h1>
        <p class="content__desc">{{ item.description }}</p>
        <p class="content__price">
          <span class="mr-2">{{
            item.price.toString().slice(-9, item.price.toString().length - 6)
          }}</span>
          <span class="mr-2">{{
            item.price.toString().slice(-6, item.price.toString().length - 3)
          }}</span>
          <span class="mr-2">{{
            item.price.toString().slice(-3, item.price.toString().length)
          }}</span>
          VND
        </p>
      </div>
      <div>
        <button (click)="onClicks(item.id, 1)" class="button__plus">+</button>
        <span class="number"> {{ item?.quantity }}</span>
        <button (click)="onClicks(item.id, -1)" class="button__sub">-</button>
      </div>
      <div class="content__line relative"></div>
    </div>
  </div>

  <!-- <div class="relative">
    <div class="">
      <p class="sub-total">SubToTal</p>
      <p class="tax">Tax</p>
      <p class="total">Total</p>
    </div>
    <div class="">
      <p class="price-sub-total">
        {{
          payment
            .toLocaleString("vi-VN", {
              style: "currency",
              currency: "VND",
              minimumFractionDigits: 0,
              maximumFractionDigits: 0,
              useGrouping: true
            })
            .replace(".", " ")
        }}
      </p>
      <p class="price-tax">
        {{
          (payment * 0.1)
            .toLocaleString("vi-VN", {
              style: "currency",
              currency: "VND",
              minimumFractionDigits: 0,
              maximumFractionDigits: 0,
              useGrouping: true
            })
            .replace(".", " ")
        }}
      </p>

      <p class="price-total">
        {{
          (payment * 1.1)
            .toLocaleString("vi-VN", {
              style: "currency",
              currency: "VND",
              minimumFractionDigits: 0,
              maximumFractionDigits: 0,
              useGrouping: true
            })
            .replace(".", " ")
        }}
      </p>
    </div>
  </div> -->
</div>
