.text-cart {
  position: absolute;
  width: 405px;
  height: 60px;
  left: 21px;
  top: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}
.total-item {
  position: absolute;
  width: 200px;
  height: 62px;
  left: 1302px;
  top: 65px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;

  display: flex;
  align-items: center;

  color: #000000;
}

.image-phone {
  position: absolute;
  width: 188px;
  height: 239px;
  left: 67px;
  top: 33px;
}

.hr-fix {
  position: absolute;
  width: 1650px;
  height: 0px;
  left: -1px;
  top: 122px;
  border: 1px solid #adadad;
  transform: rotate(0.12deg);
}
/* .sub-total {
  position: absolute;
  width: 201.23px;
  height: 40px;
  left: 979px;
  top: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #000000;
}
.total {
  position: absolute;
  width: 201.23px;
  height: 40px;
  left: 979px;
  top: 84px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #000000;
}
.tax {
  position: absolute;
  width: 201.23px;
  height: 40px;
  left: 979px;
  top: 44px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #000000;
}
.price-sub-total {
  position: absolute;
  width: 201.23px;
  height: 40px;
  left: 1221.77px;
  top: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;

  display: flex;
  align-items: center;
  text-align: right;
  color: #000000;
}
.price-tax {
  position: absolute;
  width: 201.23px;
  height: 40px;
  left: 1221.77px;
  top: 44px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #000000;
}
.price-total {
  position: absolute;
  width: 201.23px;
  height: 40px;
  left: 1221.77px;
  top: 84px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #000000;
}

.content__name {
  position: absolute;
  width: 497px;
  height: 48px;
  left: 373px;
  top: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}
.content__desc {
  position: absolute;
  width: 760px;
  height: 155px;
  left: 373px;
  top: 77px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
}
.content__price {
  position: absolute;
  width: 760px;
  height: 61px;
  left: 373px;
  top: 242px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
}
.button__plus {
  position: absolute;
  width: 64px;
  height: 57px;
  left: 1209px;
  top: 146px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.number {
  position: absolute;
  width: 64px;
  height: 57px;
  left: 1273px;
  top: 143px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.button__sub {
  position: absolute;
  width: 64px;
  height: 57px;
  left: 1337px;
  top: 146px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.content__line {
  position: absolute;
  width: 1404px;
  height: 0px;
  left: 48px;
  top: 303px;

  border: 1px solid #adadad;
  transform: rotate(0deg);
} */
