<app-header> </app-header>
<div class="relative content">
  <div class="tab">
    <div class="menu">
      <span class="menu__text">Menu</span>
      <span class="menu__icon">
        <hr class="menu__icon--line1" />
        <hr class="menu__icon--line2" />
        <hr class="menu__icon--line3" />
      </span>
    </div>
    <div
      (click)="selectTab(1)"
      class="shop"
      [ngClass]="{
        active: currentTab === 1
      }"
    >
      <span class="shop__icon">
        <i class="material-icons text-5xl">store</i>
      </span>
      <span class="shop__text">Shop</span>
    </div>
    <div
      (click)="selectTab(2)"
      class="cart"
      [ngClass]="{
        active: currentTab === 2
      }"
    >
      <span class="cart__icon"
        ><i class="material-icons text-5xl">local_grocery_store</i></span
      >
      <span class="cart__text">Cart</span>
    </div>
    <div
      class="profile"
      (click)="selectTab(3)"
      [ngClass]="{
        active: currentTab === 3
      }"
    >
      <span class="profile__icon"
        ><i class="material-icons text-5xl">person</i></span
      >
      <span class="profile__text">My Profile</span>
    </div>
  </div>
  <hr class="vertical-line" />
</div>
<div class="main relative">
  <div class="text-shop">Shop</div>
  <div></div>
  <div class="head">
    <div class="head__text" (click)="goBack()">shop</div>
    <div class="head__product">/ Product</div>
    <div class="head__image"></div>
    <div class="head__number">{{ sum }}</div>
    <hr class="hr-fix" />
  </div>
  <div class="content__image">
    <img src="{{ phone?.image }}" alt="phone" class="w-full h-full" />
  </div>
  <div class="content__title">{{ phone?.name }}</div>
  <div class="content__text">{{ phone?.description }}</div>
  <p class="content__price">
    {{
      phone?.price?.toLocaleString("vi-VN", {
        style: "currency",
        currency: "VND",
        minimumFractionDigits: 0,
        maximumFractionDigits: 0,
        useGrouping: true
      })
    }}
  </p>
  <div class="flex content__star">
    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
      <svg
        class="h-12 w-12 fill-current"
        [ngClass]="{
          'text-gray-400': true,
          'text-yellow-300': star > 0 && star < rate
        }"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M10 13.856l-4.065 2.285.777-4.535L3.35 8.144l4.54-.66L10 3.75l2.11 4.734 4.54.66-3.362 2.462.776 4.535L10 13.857z"
        />
      </svg>
    </ng-container>
  </div>
  <button class="button button--primary" (click)="onClick(phone)">
    <span class="button__buy">Mua Ngay</span>
  </button>
  <button class="button button--success" (click)="onClick(phone)">
    <span class="button__add">Thêm vào giỏ hảng</span>
  </button>
  <div class="content__img"></div>
</div>
