.content {
  position: absolute;
  top: 119px;
  left: 0px;
}
.menu {
  box-sizing: border-box;
  position: absolute;
  width: 243px;
  height: 60px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #000000;
}
.active {
  color: #0feaf8;
}
.menu__text {
  position: absolute;
  width: 164px;
  height: 27px;
  left: 17px;
  top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
}

.menu__icon--line1 {
  position: absolute;
  width: 23px;
  height: 0px;
  left: 195px;
  top: 18px;
  border: 1px solid #000000;
}
.menu__icon--line2 {
  position: absolute;
  width: 23px;
  height: 0px;
  left: 195px;
  top: 30px;
  border: 1px solid #000000;
}
.menu__icon--line3 {
  position: absolute;
  width: 23px;
  height: 0px;
  left: 195px;
  top: 42px;
  border: 1px solid #000000;
}

.shop__icon {
  position: absolute;
  width: 44px;
  height: 42.62px;
  left: 17px;
  top: 69.69px;
}
.shop__text {
  position: absolute;
  width: 169px;
  height: 62px;
  left: 71px;
  top: 78.69px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
}
.cart__icon {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 17px;
  top: 132px;
}
.cart__text {
  position: absolute;
  width: 169px;
  height: 62px;
  left: 74px;
  top: 122px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #000000;
}
.profile__icon {
  position: absolute;
  width: 46px;
  height: 46px;
  left: 15px;
  top: 193px;
}
.profile__text {
  position: absolute;
  width: 169px;
  height: 63px;
  left: 70px;
  top: 187px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
}
.vertical-line {
  position: absolute;
  top: 0;
  left: 232px;
  border: none;
  border-left: 1px solid black;
  height: 850px;
  margin: 0 10px;
}
.main {
  position: absolute;
  top: 115px;
  left: 243px;
}
.hr-fix {
  position: absolute;
  width: 1660px;
  height: 0px;
  left: -1px;
  top: 122px;

  border: 1px solid #adadad;
  transform: rotate(0.12deg);
}
.text-shop {
  position: absolute;
  width: 405px;
  height: 60px;
  left: 21px;
  top: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}

.head__text {
  position: absolute;
  width: 191px;
  height: 58px;
  left: 29px;
  top: 63px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}
.head__product {
  position: absolute;
  width: 256px;
  height: 58px;
  left: 95px;
  top: 72px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 16px;
  /* or 57% */

  display: flex;
  align-items: center;

  color: #000000;
}
.head__image {
  background-image: url("https://s3-alpha-sig.figma.com/img/ce36/d3d0/9dedaa937941fd09c5856bc305270cb6?Expires=1680480000&Signature=TX2LSa1IbIwUYKDOs2toBiaI3wjnQaJTgklVEjHS1CwA58s5wwbsX-6i0hkj6UgqFBvsXANLemskz3T~gILyqEJ5WWmLjXI42cnWly~0O6zp6i8T4dSQG0rXO76osPz8fypTchdfEg4Z-jdr0I1hRHO5RhpSzaoOb4SyNosLnNLC-kVwxsovIe3qOKLEW0iI3sTmkrBV0mjzjwjBn5I9~T1pehAIz3RJHwshJMoYNFFKORaFhVGgX~QAYoOW4vXc9e23bEf7FyvJcXPzrT3TpWynrT6AkZJevvzmTPzrVDjEU5r9Kww~guiAVNqiYgRv9bIST1h5vQbM3X8qHSR-hQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 43px;
  height: 43px;
  left: 1384px;
  top: 73px;
}
.head__number {
  position: absolute;
  width: 12px;
  height: 18px;
  left: 1421px;
  top: 77px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}
.content__image {
  position: absolute;
  width: 408px;
  height: 478px;
  left: 33px;
  top: 171px;

  background-repeat: no-repeat;
  background-size: cover;
}
.content__title {
  position: absolute;
  width: 497px;
  height: 48px;
  left: 493px;
  top: 171px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
}
.content__text {
  position: absolute;
  width: 760px;
  height: 155px;
  left: 493px;
  top: 248px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;

  display: flex;
  align-items: center;

  color: #000000;
}
.content__price {
  position: absolute;
  width: 760px;
  height: 61px;
  left: 493px;
  top: 431px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* or 111% */

  display: flex;
  align-items: center;

  color: #000000;
}
.content__star {
  position: absolute;
  left: 493px;
  top: 492px;
}
.button {
  width: 368px;
  height: 103px;
  border-radius: 10px;
}
.button--primary {
  position: absolute;

  left: 495px;
  top: 582px;
  background: #00c2ff;
}
.button__buy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 16px;
  color: #fffdfd;
  padding: 16px 20.63px 19px 16.5px;
}
.button--success {
  position: absolute;
  left: 905px;
  top: 582px;
  background: #00ff19;
  border-radius: 10px;
}
.button__add {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 16px;
  color: #fffdfd;
  padding: 16px 20.07px 19px 16.05px;
}
.content__img {
  position: absolute;
  width: 198px;
  height: 107px;
  left: 138px;
  top: 685px;
  background-image: url("https://s3-alpha-sig.figma.com/img/fe1f/c85d/beecf0aa808961fe7cad2de058c0fce2?Expires=1680480000&Signature=Zh1gAGQ0xNFViqVFVpKdLjNgC1qP2YNjfhMFyrRx6Epy-4~2-WFGvG6FPpRGdZgmNgNFPKcVLNgiC-pUujBqhPmOmibCB9PqdWlLcyhbv4qFRO-SyZmY6D9hdpr04D0llFXQgb6SXk7aU12qdUKxP-WtH-W3gdS3TOpIUx7nVtAnYKtC9FxQh5YcYdGOzwlSGUx8v9lbonqcZK2HTXDmIdcJ-nVizCAJo0cLYrHAvMoLTz5nL5mc~oOfYaUx86vc38JZTLRwZ-ECOt6wK0OQgP4FXjBgEon5BBJFWJPGyATN-HQiHFGBJGLHuOjfyUkJsr1vPCc8wxJhDonSLs-14w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  background-size: cover;
}
