
<div class="grid grid-cols-2 justify-start gap-4">
<div *ngFor="let item of phones ">
  <a routerLink="/shop/{{item.id}}"><div class="flex 	justify-items: center  ">
    <img src="https://cdn.tgdd.vn/Products/Images/42/216174/Slider/vi-vn-samsung-galaxy-a31-tinhnang.jpg" alt="" class="imgphone mr-4">
  <div class="flex flex-col justify-around" ><h1 class="phonename">{{item.name}}</h1>
    <p class="pricevnd">
      <span class="mr-4">{{item.price.toString().slice(-9, item.price.toString().length-6 )}}</span>
      <span class="mr-4">{{item.price.toString().slice(-6, item.price.toString().length-3 )}}</span>
      <span class="mr-4">{{item.price.toString().slice(-3, item.price.toString().length )}}</span> VND</p>
    <div class="flex ">
      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
        <svg class="h-12 w-12 fill-current"
             [ngClass]="{
               'text-gray-400': item.rate < star,
               'star': item.rate >= star
             }"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M10 13.856l-4.065 2.285.777-4.535L3.35 8.144l4.54-.66L10 3.75l2.11 4.734 4.54.66-3.362 2.462.776 4.535L10 13.857z"/>
        </svg>
      </ng-container>
    </div>
  </div>
  </div></a>
</div>
</div>
