.imgphone{
  width: 127px;
height: 173px;
}
.phonename{
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

}
.pricevnd{
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
display: flex;
align-items: center;
color: #000000;
}
.star{
  color: #FFDD55;
}
